In [ ]:
# Imports
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series
from predict_federal_reserve_interest_rates.util.date import parse_cpi_index_period

In [506]:
# Importdata
# cpi_index_df = pd.read_csv("predict_federal_reserve_interest_rates/data/bls/cpi/bls_cpi_overall.txt",
#                            dtype = {'series_id': str,
#                                     'year': int,
#                                     'period': str,
#                                     'value': float,
#                                     'footnote_codes': str},
#                            delim_whitespace=True)
# cpi_index_df.rename(columns={"value": "rate"})

In [507]:
# Import data
cpi_index_df = pd.read_csv("predict_federal_reserve_interest_rates/data/bls/cpi/bls_cpi_current.txt", delim_whitespace=True)

In [508]:
cpi_index_df.head()

       series_id  year period  value footnote_codes
0  APU0000701111  1995    M01  0.238            NaN
1  APU0000701111  1995    M02  0.242            NaN
2  APU0000701111  1995    M03  0.242            NaN
3  APU0000701111  1995    M04  0.236            NaN
4  APU0000701111  1995    M05  0.244            NaN

In [509]:
cpi_index_df.mean()

/var/folders/3n/7kvkbqjd0l9grdj7kptkcfgr0000gn/T/ipykernel_85814/1877032335.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cpi_index_df.mean()

year    2007.653449
dtype: float64

In [510]:
# Clean up values for various items in the CPI
cpi_index_df['value'] = cpi_index_df['value'].replace(['-'], 0.00)
cpi_index_df = cpi_index_df.astype({'value': 'float64'})

In [511]:
cpi_index_df.iloc[[10667]]

           series_id  year period  value footnote_codes
10667  APU0000710211  2018    M11    0.0            NaN

In [512]:
cpi_index_df.shape

(190076, 5)

In [513]:
def get_period(row: Series):
    return parse_cpi_index_period(row["year"], row["period"])

In [514]:
cpi_index_df['period'] = cpi_index_df.apply(lambda row: get_period(row), axis=1)

In [515]:
cpi_index_df.dtypes

series_id            object
year                  int64
period            period[M]
value               float64
footnote_codes       object
dtype: object

In [516]:
cpi_index_df = cpi_index_df.set_index('period')

In [517]:
cpi_index_df.dtypes

series_id          object
year                int64
value             float64
footnote_codes     object
dtype: object

In [518]:
cpi_index_df.head()

             series_id  year  value footnote_codes
period
1995-01  APU0000701111  1995  0.238            NaN
1995-02  APU0000701111  1995  0.242            NaN
1995-03  APU0000701111  1995  0.242            NaN
1995-04  APU0000701111  1995  0.236            NaN
1995-05  APU0000701111  1995  0.244            NaN

In [519]:
cpi_index_df[(cpi_index_df.value == 0.00)]

             series_id  year  value footnote_codes
period
2018-11  APU0000710211  2018    0.0            NaN
2018-11  APU0200710211  2018    0.0            NaN
2018-11   APU030072511  2018    0.0            NaN
2018-12   APU030072511  2018    0.0            NaN
2018-11   APU035072511  2018    0.0            NaN
2018-12   APU035072511  2018    0.0            NaN
2018-11   APUS30072511  2018    0.0            NaN
2018-12   APUS30072511  2018    0.0            NaN
1996-03   APUS49B72601  1996    0.0            NaN
1996-04   APUS49B72601  1996    0.0            NaN
1996-03   APUS49B72611  1996    0.0            NaN
1996-03   APUS49B72620  1996    0.0            NaN

In [539]:
federal_funds_rate_df = pd.read_csv("predict_federal_reserve_interest_rates/data/fed/federal_funds_effective_rate.csv")

In [540]:
federal_funds_rate_df.head()

  time_period  federal_funds_effective_rate
0  1954-07-01                          1.13
1  1954-07-02                          1.25
2  1954-07-03                          1.25
3  1954-07-04                          1.25
4  1954-07-05                          0.88

In [541]:
federal_funds_rate_df.shape

(24911, 2)

In [542]:
federal_funds_rate_df = federal_funds_rate_df.astype({'federal_funds_effective_rate': 'float64',
                                                      'time_period': 'datetime64'}) \
                                             .rename(columns={'time_period': 'period'}) \
                                             .set_index('period')

In [543]:
federal_funds_rate_df.index.dtype

dtype('<M8[ns]')

In [544]:
federal_funds_rate_df = federal_funds_rate_df.resample('M').mean()

In [545]:
federal_funds_rate_df.index.dtype

dtype('<M8[ns]')

In [546]:
federal_funds_rate_df.index = federal_funds_rate_df.index.to_period('M')

In [547]:
federal_funds_rate_df.index.dtype

period[M]

In [548]:
federal_funds_rate_df.head()

         federal_funds_effective_rate
period
1954-07                      0.799355
1954-08                      1.220645
1954-09                      1.066667
1954-10                      0.848710
1954-11                      0.833667

In [538]:
federal_funds_rate_df.shape

(819, 1)

In [527]:
cpi_index_df.shape

(190076, 4)

In [528]:
cpi_index_df.head()

             series_id  year  value footnote_codes
period
1995-01  APU0000701111  1995  0.238            NaN
1995-02  APU0000701111  1995  0.242            NaN
1995-03  APU0000701111  1995  0.242            NaN
1995-04  APU0000701111  1995  0.236            NaN
1995-05  APU0000701111  1995  0.244            NaN

In [422]:
treasury_long_term_bond_rate_df = pd.read_csv("predict_federal_reserve_interest_rates/data/treasury/real-long-term-rates-2000-2021.csv")

In [423]:
treasury_long_term_bond_rate_df.head()

       date  long_term_real_average
0  12/31/21                   -0.52
1  12/30/21                   -0.51
2  12/29/21                   -0.45
3  12/28/21                   -0.48
4  12/27/21                   -0.50

In [424]:
treasury_long_term_bond_rate_df = treasury_long_term_bond_rate_df.astype({'long_term_real_average': 'float64',
                                                                          'date': 'datetime64'}) \
                                                                 .rename(columns={'date': 'period'}) \
                                                                 .set_index('period')

In [425]:
treasury_long_term_bond_rate_df.dtypes

long_term_real_average    float64
dtype: object

In [426]:
treasury_long_term_bond_rate_monthly_average_df = treasury_long_term_bond_rate_df.rolling(window=30)['long_term_real_average'].mean()

In [427]:
treasury_long_term_bond_rate_df.shape

(5504, 1)

In [428]:
treasury_long_term_bond_rate_monthly_average_df.index = treasury_long_term_bond_rate_monthly_average_df.index.to_period('M')

In [429]:
treasury_long_term_bond_rate_df.dtypes

long_term_real_average    float64
dtype: object

In [549]:
treasury_long_term_bond_rate_df.head()

            long_term_real_average
period
2021-12-31                   -0.52
2021-12-30                   -0.51
2021-12-29                   -0.45
2021-12-28                   -0.48
2021-12-27                   -0.50

In [565]:
s_and_p_500_stock_prices_df = pd.read_csv("predict_federal_reserve_interest_rates/data/wsj/s_and_p_500_historical_prices.csv")

In [566]:
s_and_p_500_stock_prices_df = s_and_p_500_stock_prices_df.astype({'Date': 'datetime64'}) \
                                                                 .rename(columns={'Date': 'period'}) \
                                                                 .set_index('period')

In [567]:
s_and_p_500_stock_prices_df.shape

(11274, 4)

In [568]:
s_and_p_500_stock_prices_df = s_and_p_500_stock_prices_df.resample('M').mean()

In [569]:
s_and_p_500_stock_prices_df.shape

(537, 4)

In [570]:
s_and_p_500_stock_prices_df.dtypes

 Open     float64
 High     float64
 Low      float64
 Close    float64
dtype: object

In [572]:
s_and_p_500_stock_prices_df.head()

                 Open       High        Low      Close
period
1978-01-31  90.254286  91.080000  89.747619  90.254286
1978-02-28  88.922632  89.453684  88.481053  88.922632
1978-03-31  88.819545  89.307727  88.189091  88.819545
1978-04-30  92.710500  93.397500  91.872500  92.710500
1978-05-31  97.412273  98.222273  96.579545  97.412273