In [21]:
import pandas as pd

In [22]:
# Import data
cpi_index_df = pd.read_csv("predict_federal_reserve_interest_rates/data/bls/cpi/bls_cpi_overall.txt",
                               delim_whitespace=True)

In [23]:
cpi_index_df.head()

       series_id  year period  value  footnote_codes
0  APU0000701111  1995    M01  0.238             NaN
1  APU0000701111  1995    M02  0.242             NaN
2  APU0000701111  1995    M03  0.242             NaN
3  APU0000701111  1995    M04  0.236             NaN
4  APU0000701111  1995    M05  0.244             NaN

In [24]:
federal_funds_rate = pd.read_csv("predict_federal_reserve_interest_rates/data/fed/federal_funds_effective_rate.csv")

In [25]:
federal_funds_rate.head()

  time_period  federal_funds_effective_rate
0  1954-07-01                          1.13
1  1954-07-02                          1.25
2  1954-07-03                          1.25
3  1954-07-04                          1.25
4  1954-07-05                          0.88

In [26]:
treasuty_long_term_bond_rate = pd.read_csv("predict_federal_reserve_interest_rates/data/treasury/real-long-term-rates-2000-2021.csv")

In [27]:
treasuty_long_term_bond_rate.head()

       date  long_term_real_average
0  12/31/21                   -0.52
1  12/30/21                   -0.51
2  12/29/21                   -0.45
3  12/28/21                   -0.48
4  12/27/21                   -0.50

In [28]:
s_and_p_500_stock_prices = pd.read_csv("predict_federal_reserve_interest_rates/data/wsj/s_and_p_500_historical_prices.csv")

In [29]:
s_and_p_500_stock_prices.head()

       Date     Open     High      Low    Close
0  09/16/22  3880.95  3880.95  3837.08  3873.33
1  09/15/22  3932.41  3959.14  3888.28  3901.35
2  09/14/22  3940.73  3961.94  3912.18  3946.01
3  09/13/22  4037.12  4037.12  3921.28  3932.69
4  09/12/22  4083.67  4119.28  4083.67  4110.41