In [2]:
import pandas as pd

In [3]:
bls_cpi_index_df = pd.read_csv("predict_federal_reserve_interest_rates/data/bls/cpi/bls_cpi.txt",
                               delim_whitespace=True)

In [5]:
bls_cpi_index_df.head()

       series_id  year period  value  footnote_codes
0  APU0000701111  1995    M01  0.238             NaN
1  APU0000701111  1995    M02  0.242             NaN
2  APU0000701111  1995    M03  0.242             NaN
3  APU0000701111  1995    M04  0.236             NaN
4  APU0000701111  1995    M05  0.244             NaN